div.container {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    font-family: sans-serif;
    align-items: center;
    background: linear-gradient(180deg, rgba(60, 196, 226, 0.91) 49.08%, #1E1E1E 100%);
    min-height: 100%;
    min-width: 100%;
}

div.logo {
    position: absolute;
    width: 400px;
    height: 100px;
    left: 40%;
    top: 100px;
}

div.login {
    position: absolute;
    width: 350px;
    height: 100px;
    left: 40%;
    top: 200px;
    font-size: 20px;
}

div.usuario {
    position: absolute;
    width: 300px;
    height: 30px;
    left: 40%;
    top: 280px;
    font-size: 25px;
}

div.senha {
    position: absolute;
    width: 300px;
    height: 30px;
    left: 40%;
    top: 320px;
    font-size: 25px;
}

.txt-box {
    position: absolute;
    border-radius: 2px;
    width: 200px;
    height: 20px;
    border: none;
    left: 100px;
    top: 5px;
}

.botao {
    display: flex;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    width: 100px;
    height: 50px;
    left: 810px;
    top: 350px;
}
div.cadastrar-se{
    position: absolute;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 150px;
    font-size: 30px;
    left: 40%;
    top: 400px;
}